.sign-up {
  padding-bottom: 10px;

  &-header {
    margin-bottom: 30px;
    h2 {
      font-weight:200;

    }
  }
  .form-content {
    max-width: 70%;
    margin: 0 auto;
  }
}

.student-submit-button {
  width: 10%;
  min-width: 5em;
}